---
title: Recover your password - GovWifi
description: Get a reminder if you've forgotten your GovWifi username or password.
---

<div class="govuk-width-container">
  <%= partial 'shared/product/breadcrumbs', locals: { page: "Recover your password" } %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
          <%= partial 'shared/product/sidebar' %>
      </div>
      <main class="govuk-grid-column-two-thirds" role="main" id="main">
        <h1 class="govuk-heading-l">Get a reminder of your username or password</h1>
        <p class="govuk-body">
          If you’ve forgotten your GovWifi username or password, send a blank email from the email address you registered with to <a href="mailto:signup@wifi.service.gov.uk" class="govuk-link">signup@wifi.service.gov.uk</a>.
        </p>
        <p class="govuk-body">
          We’ll reply with your username and password.
        </p>
        <p class="govuk-body">
          Check your spam or junk email folder if the email doesn’t come through in a few minutes.
        </p>
      </main>
    </div>
  </div>
</div>
